#big-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}
#box {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
